extends layout

block content
    .wrapper
      .box.a Current Temp (Today's high | Today's low)
      .box.b Tomorrow Temp (Tomorrow's high | Tomorrow's low)
      .box.c Something yet unknown
      .box.d 
        .clock
      .box.e 
        p Date


