extends layout

block content
    .dial
      .dot
      .sec-hand
      .sec-hand.shadow
      .min-hand
      .min-hand.shadow
      .hour-hand
      .hour-hand.shadow
      span.twelve 12
      span.three 3
      span.six 6
      span.nine 9
      span.diallines
      .date

