body {
   background: #ccc;
   margin: 2px;
}

.wrapper {
   display: grid;
   grid-gap: 2px;
   grid-template-columns: [col1-start] auto  [col2-start] auto  [col3-start] auto [col4-start] auto [col4-end];  
   grid-template-rows: [row1-start] auto [row2-start] auto [row2-end];
   background-color: #ccc;
   color: #444;
}

.box {
   background-color: #444;
   color: #fff;
   border-radius: 5px;
   padding: 20px;
   font-size: 150%;
}

.a {
   grid-column: col1-start / col3-start;
   grid-row: row1-start ;
}
.b {
   grid-column: col3-start / col4-end;
   grid-row: row1-start ;
}
.c {
   grid-column: col1-start;
   grid-row: row2-start ;
}
.d {
   grid-column: col2-start / col4-start ;
   grid-row: row2-start ;
}
.e {
   grid-column: col4-start ;
   grid-row: row2-start ;
}

.clock {
  font-size: 4em;
}